{% extends "base.html" %}
{% block title %}Acasă{% endblock %}

{% block content %}
    <div class="container home-page">
        <h1>Bine ați venit în Parallax!</h1>
        <p class="lead">Recomandări personalizate și noutăți din lumea filmului.</p>

        <div class="my-4">
            <a href="{{ url_for('catalog') }}" class="btn btn-success btn-lg">
                Explorează întregul Catalog
            </a>
        </div>
        
        <hr>
        
        {% if current_user.is_authenticated %}
            <h2 class="mb-4"> 
                Recomandări pentru tine ({{ movies|length }})
            </h2>
        {% else %}
            <h2 class="mb-4">Filme Populare ({{ movies|length }})</h2>
        {% endif %}

        <div class="movie-list-grid">
            {% for movie in movies %}
                <div class="movie-card">
                    <h3><a href="{{ url_for('movie_details', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                </div>
            {% endfor %}
        </div>
        
        </div>
{% endblock %}