{% extends "base.html" %}
{% block title %}Rating-urile Mele{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4 border-bottom pb-2">Your Ratings ({{ user_ratings|length }})</h1>
    
    {% if user_ratings %}
        <div class="movie-list-grid">
            {% for rating in user_ratings %}
                {% set movie = rating.movie %}
                <div class="movie-card">
                    <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="movie-poster-wrapper">
                        {% if movie.poster_url %}
                            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="card-poster" loading="lazy">
                        {% else %}
                            <div class="card-poster-placeholder"><i class="fas fa-film"></i></div>
                        {% endif %}
                    </a>
                    <div class="movie-card-content">
                        <h3><a href="{{ url_for('movie_details', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                        
                        <p class="small text-muted mb-2">
                            Rated: {{ rating.timestamp.strftime('%d-%m-%Y') }}
                        </p>
                        
                        <div class="rating-badge-container">
                            <span class="badge badge-rating-3d">
                                <i class="fas fa-star"></i> {{ rating.score }}/10
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-muted" style= "text-align: center;">You have not rated any movies yet.</h3>
        <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 50px; margin-bottom: 80px;">
        
            <a href="{{ url_for('catalog') }}" 
            class="btn btn-primary shadow-lg home-explore-btn" 
            role="button">
                Explore more movies
            </a>
            
        </div>
    {% endif %}
</div>
{% endblock %}