{% extends "base.html" %}
{% block title %}Profile - {{ user.username }}{% endblock %}

{% block content %}
    <div class="container mb-5">
        
        <h1 class="profile-title">YOUR PROFILE: <span class="profile-info">{{ user.username }}</span></h1> 

        <section class="utility-section">
            <div class="profile-section-heading-container">
                <h2 class="profile-section-heading">Your QR Code</h2>
            </div>
            <p style="text-align: center;">You can share this code with your friends to easily access your profile.</p>
            
            {# Aici afișăm imaginea QR code-ului #}
            {% if qr_data_uri %}
                <div class="qr-container">
                    <img src="{{ qr_data_uri }}" alt="Profile QR Code" class="qr-code" style="width: 200px; height: 200px;">
                </div>
            {% else %}
                <p>Could not generate QR code.</p>
            {% endif %}

            <div class="profile-section-heading-container">
                <h2 class="profile-section-heading">Export Data</h2>
            </div>
            <p style="text-align: center;">Download your movie lists below in CSV format.</p>
            
            <div class="export-buttons-container">
                <a href="{{ url_for('export_seen_list') }}" class="btn-export">
                    Download Watch History (CSV)
                </a>

                <a href="{{ url_for('export_to_watch_list') }}" class="btn-export btn-secondary-export">
                    Download WatchList (CSV)
                </a>
            </div>
        </section>

        <section class="movie-lists">
            <div class="profile-section-heading-container">
                <h2 class="profile-section-heading">🎬 My Lists</h2>
            </div>
            
            <h3 style="color: #f7cdd7">Watched ({{ seen_movies|length }})</h3>
            <ul class="user-list-items">
                {% for entry in seen_movies %}
                    <li class="user-lists-item"><a href="{{ url_for('movie_details', movie_id=entry.movie_id) }}">{{ entry.movie.title }}</a> - Added: <span>{{ entry.date_added.strftime('%Y-%m-%d') }}</span></li>
                {% endfor %}
            </ul>

            <h3 style="color: #f7cdd7">WatchList ({{ to_watch_movies|length }})</h3>
            <ul class="user-list-items">
                {% for entry in to_watch_movies %}
                    <li class="user-lists-item"><a href="{{ url_for('movie_details', movie_id=entry.movie_id) }}">{{ entry.movie.title }}</a> - Added: <span>{{ entry.date_added.strftime('%Y-%m-%d') }}</span></li>
                {% endfor %}
            </ul>
        </section>
        
    </div>
{% endblock %}