{% extends "base.html" %}
{% block title %}Watchlist{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4 border-bottom pb-2">WatchList ({{ watchlist_items|length }})</h1>
    
    {% if watchlist_items %}
        <div class="movie-list-grid">
            {% for item in watchlist_items %}
                {% set movie = item.movie %}
                <div class="movie-card">
                    <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="movie-poster-wrapper">
                        {% if movie.poster_url %}
                            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="card-poster" loading="lazy">
                        {% else %}
                            <div class="card-poster-placeholder"><i class="fas fa-film"></i></div>
                        {% endif %}
                    </a>
                    <div class="movie-card-content">
                        <h3><a href="{{ url_for('movie_details', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                        
                        <div class="mb-2">
                             <span class="badge bg-warning text-dark"><i class="fas fa-bookmark"></i> Watchlist</span>
                        </div>

                        <p class="small text-muted mt-auto">
                            Added: {{ item.date_added.strftime('%d-%m-%Y') }}
                        </p>
                        
                        <form method="POST" action="{{ url_for('toggle_watchlist', movie_id=movie.id) }}" class="mt-2 form-center">
                             <button type="submit" class="btn btn-sm btn-details-3d">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-muted" style= "text-align: center;">Your watchlist is empty.</h3>
        <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 50px; margin-bottom: 80px;">
        
            <a href="{{ url_for('catalog') }}" 
            class="btn btn-primary shadow-lg home-explore-btn" 
            role="button">
                Explore more movies
            </a>
            
        </div>
    {% endif %}
</div>
{% endblock %}